@import '../../vars.css';

.container {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 75px;
    margin-top: 125px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-bg);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.content {
    color: var(--color-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.float-child {
    float: left;
    width: 50%;
    padding: 20px;
}

.aboutImg2 {
    padding: 50px;
}